.c-Forcast {
  background-color: white;
  color: var(--secondary-text);
  position: relative;
}

.l-Forcast {
  display: flex;
  text-align: center;
  flex-basis: 0;
}

.c-Forcast__title {
  padding: 10px 30px;
}
