.c-SearchInput__input {
  color: #ccd3db;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccd3db;
  padding: 5px;
  background: transparent;
}

.c-SearchInput__input::placeholder {
  color: #ccd3db;
}

.c-SearchInput__icon {
  position: relative;
  right: 20px;
  color: var(--third-color);
}
