.c-SearchInput__input {
  color: #ccd3db;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccd3db;
  padding: 5px;
  background: transparent;
}

.c-SearchInput__input::placeholder {
  color: #ccd3db;
}

.c-SearchInput__icon {
  position: relative;
  right: 25px;
  color: var(--third-color);
  cursor: pointer;
  padding: 5px;
  z-index: 100;
}

.c-SearchInput__icon:hover {
  color: #facf74;
}
