.c-Temperature {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.l-Temperature__temp {
  display: flex;
}

.c-Temperature__details {
  margin-left: 5px;
}

.c-Temperature__temp {
  font-size: 58px;
  font-style: bold;
  color: var(--third-color);
}

.l-Temperature__unit {
  margin-top: 14px;
}

.c-Temperature__unit {
  font-size: 18px;
  color: var(--third-color);
}

.c-Temperature__feels .label {
  display: inline-block;
  width: 25px;
  font-size: 9px;
  text-align: right;
  margin: 0px 6px 0px 0px;
}

.c-Temperature__feels .value {
  margin-bottom: 5px;
  font-size: 23px;
}

.l-Temperature__image {
  background-color: var(--primary-color);
  border-radius: 50px;
  margin-right: 40px;
  margin-top: 7px;
}

.c-Temperature__image {
  width: 70px;
}
