.main-container {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  padding: 10px 30px;
  height: 200px;
}

.container-wrapper {
  margin: 0 auto;
  width: 700px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

footer {
  margin: 30px 0px 0px 0px;
  background-color: var(--secondary-color);
  padding: 10px 10px;
  text-align: center;
}

.footer-content {
  padding-top: 3px;
  margin: 0 auto;
  width: 700px;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  display: inline;
  font-size: 36px;
  margin-left: 20px;
}

.link {
  color: var(--third-color);
}
